/* - Very dark cyan: #00494d
- Dark grayish cyan: #5e7a7d
- Dark grayish cyan: #7f9c9f
- Light grayish cyan: #c5e4e7
- Light grayish cyan: #f4fafa
- White: #ffffff
- Strong cyan: #26c0ab
*/

html {
    font-family: 'Space Mono', monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c5e4e7;
}

#logo-container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    position: static;
}

#container {
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 0 15px
}

#content {
    width: 100%;
}

h3 {
    color: #00494d;
}

/* .input-img {
    position: relative;
}

.input-img img {
    position: absolute;
    margin-left: 50px;
    margin-top: 12px;
} */

#bill-input,
#people-input {}

input {
    box-sizing: border-box;
    text-align: right;
    font-family: 'Space Mono', monospace;
    color: #00494d !important;
    background-color: #f4fafa;
    font-size: 24px;
    height: 48px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: none;
    padding-right: 10px;
}

input:focus {
    outline: 2px solid #26c0ab;
}

input::placeholder {
    color: #7f9c9f;
    text-align: right;
}

.button-row {
    display: flex;
    flex-direction: row;
}

.tip-btn {
    font-size: 24px;
    font-weight: bold;
    min-width: 146px;
    height: 48px;
    margin: 10px 10px;
    border-radius: 5px;
    border: none;
    color: #f4fafa;
}

.deactive {
    background-color: #00494d;
    border-color: #00494d;
}

.active {
    background-color: #26c0ab;
    border-color: #26c0ab;
}

#tipBtnInput:focus {
    outline: 2px solid #26c0ab;
}

#result-container {
    width: 100%;
    background-color: #00494d;
    margin: 40px 0px;
    border: 1px solid #00494d;
    border-radius: 15px;
}

.tip-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    /* padding: 20px 20px; */
    /* padding-bottom: none; */
}

.tip-amount:nth-child(1) {
    padding-top: 20px;
}

#resetBtn-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin: 0 20px;
}

#resetBtn {
    width: 100%;
    font-size: 24px;
    padding: 5px 0;
    color: #00494d;
    background-color: #26c0ab;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    border: 1px solid #00494d;
    border-radius: 10px;
}

.header {
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

.person {
    color: #c5e4e7;
    margin-top: 0;
}

.amount {
    color: #26c0ab;
    font-size: 32px;
    font-weight: 700;
    margin-right: 20px;
}

.tipBtnDeactive:hover,
.active:hover {
    cursor: pointer;
}