/* - Very dark cyan: #00494d
- Dark grayish cyan: #5e7a7d
- Dark grayish cyan: #7f9c9f
- Light grayish cyan: #c5e4e7
- Light grayish cyan: #f4fafa
- White: #ffffff
- Strong cyan: #26c0ab
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: 'Space Mono', monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c5e4e7;
}

#logo-container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    position: static;
}

#container {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 25px 25px;
    width: 375px;

    overflow: hidden;
}

.input-container {
    width: 100%;
}

h3 {
    color: #00494d;
    margin: 0;
    box-sizing: border-box;
}

/* .input-img {
    position: relative;
}

.input-img img {
    position: absolute;
    margin-left: 50px;
    margin-top: 12px;
} */

#bill-input,
#people-input {
    width: 100%;
}

input {
    text-align: right;
    font-family: 'Space Mono', monospace;
    color: #00494d !important;
    background-color: #f4fafa;
    font-size: 24px;
    height: 48px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding-right: 10px;
    min-width: 0;
}

input:focus {
    outline: 2px solid #26c0ab;
}

input::placeholder {
    color: #7f9c9f;
    text-align: right;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tip-btn {
    font-size: 24px;
    font-weight: bold;
    height: 46px;
    border-radius: 5px;
    border: none;
    color: #f4fafa;
    flex: 1;
}

.tip-btn:nth-child(odd) {}

.tip-btn:nth-child(even) {}

.deactive {
    background-color: #00494d;
    border-color: #00494d;
}

.active {
    background-color: #26c0ab;
    border-color: #26c0ab;
}

#tipBtnInput:focus {
    outline: 2px solid #26c0ab;
}

#result-container {
    width: 100%;
    background-color: #00494d;
    border: 1px solid #00494d;
    border-radius: 15px;
}

.tip-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#resetBtn {
    width: 100%;
    font-size: 24px;
    padding: 5px 0;
    color: #00494d;
    background-color: #26c0ab;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    border: 1px solid #00494d;
    border-radius: 10px;
}

.header {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.person {
    color: #c5e4e7;
}

.amount {
    color: #26c0ab;
    font-size: 32px;
    font-weight: 700;
}

.tipBtnDeactive:hover,
.active:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    #container {
        width: 608px;
    }
}

@media (min-width: 1408px) {
    #container {
        width: 920px;
        flex-direction: row;
    }

    .side-by-side {
        display: flex;
    }
}